@import '@styles/base';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.login {
  min-height: 100vh;
  font-family: 'Poppins';

  &__container {
    @include directionX;
    padding: 10px;

    &__left {
      width: 40%;

      .img {
        background-image: url('/images/hospital.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
    }

    &__right {
      @include directionY;
      align-items: center;
      justify-content: center;
      width: 60%;
      background-color: $marine-blue;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    .signin {
      color: #6EC2DF;
      text-align: center;
      font-size: 40px;
      font-weight: 600;
      padding-bottom: 20px
    }

    .form {
      @include directionY;
      padding: 30px;
      width: 460px;
      height: 360px;
      border-radius: 26px;
      background: $color-white;
      color: #0A071B;

      .text {
        padding-bottom: 10px;
      }

      &__email {
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 20px;

        input {
          border-radius: 20px;
          border: 1px solid #8C87A2;
          width: 100%;
          height: 50px;
        }
      }

      &__password {
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 30px;

        input {
          border-radius: 20px;
          border: 1px solid #8C87A2;
          width: 100%;
          height: 50px;
        }
      }

      .button {
        border: none;
        width: 100%;
        height: 50px;
        border-radius: 100px;
        background: #5138ED;
        cursor: pointer;
        color: $color-white;
        font-size: 16px;
        font-weight: 600;
      }

      p {
        text-align: center;
        font-size: 15px;

        a {
          text-decoration: none;
          font-weight: 700;
          color: $color-dark-blue;
        }
      }
    }

    .error {
      color: $strawberry-red;
      font-size: 10px;
      font-weight: 500;
      padding-left: 10px;
    }
  }
}