@import '@styles/base';

.container {
    padding: 15px;

    .title {
        font-size: 1rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    .inputWrapper {
        @include directionY;

        label {
            font-size: 0.8rem;
            margin-bottom: 10px;
            display: flex;
            .error {
                padding: 2px 0 0 5px;
                font-size: 12px;
                color: red;
            }
        }

        label > span {
            color: red;
        }

        .input {
            padding: 10px;
            font-size: 16px;
        }

    }

    .buttonWrapper {
        @include directionX;
        justify-content: end;
        .button {
            padding: 10px;
            width: 40%;
            border-radius: 5px;
            border: none;
            background-color: $purplish-blue;
            color: white;
            cursor: pointer;
            margin-top: 8.1rem;
        }
    }
}

@media screen and (max-width: 570px) {
    .container {
        .buttonWrapper{
            .button{
                margin-top: 9.3rem;
            }
        }
    }
}